<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Comments</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="col">
            <a class="float-right" href="/">Log Out</a> <br><br>
            <h4 class="float-left">Coding Dojo Wall</h4> <h4 class="float-right">Welcome {{user_firstname}} {{user_lastname}}! </h4><br>
            <br><br>
            <div class="form-group">
                <label for="comment">Post a Message:</label>
                <textarea class="form-control" rows="6" id="comment"></textarea>
                <br>
                <button type="submit" class="btn btn-primary float-right">Post a Message</button>
            </div>
            <div class="form-group">
                <label for="comment">Post a Comment:</label>
                <textarea class="form-control" rows="3" id="comment"></textarea>
                <br>
                <button type="submit" class="btn btn-success float-right">Post a Comment</button>
            </div>
            <div class="form-group">
                <label for="comment">Post a Comment:</label>
                <textarea class="form-control" rows="3" id="comment"></textarea>
                <br>
                <button type="submit" class="btn btn-success float-right my-5">Post a Comment</button>
            </div>
        </div>
    </div>
</body>
</html>